<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    @*https://stackoverflow.com/questions/200476/html-actionlink-method*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="main_navbar_cont">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-brand" id="brandNameBtn">
                    @Html.ActionLink("FakeJira", "Index", "Home")
                </button>   
            </div>*@
            <div class="navbar-collapse collapse" id="main_navbar">
                <ul class="nav navbar-nav">
                    <li id="brand_name_li">
                        @Html.ActionLink("FakeJira", "Index", "Home")
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.Partial("_AdminMenuPartial")
                    }

                    <li id="nav_menu_li">@Html.ActionLink("FakeProjects", "Index", "Project")</li>
                    <li id="nav_menu_li">@Html.ActionLink("MyFakeTasks", "Index", "Task")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/FakeJiraJs")
    @RenderSection("scripts", required: false)
</body>
</html>
