@model FakeJira.ViewModels.TaskViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Task.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.User.FirstName)
            @Html.DisplayFor(model => model.Task.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.PriorityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.PriorityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.DateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.DateClosed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Task.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
