@model FakeJira.ViewModels.TaskViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Task.Id)
        @Html.HiddenFor(model => model.Task.DateAdded)
        @Html.HiddenFor(model => model.Task.PriorityId)
        @Html.HiddenFor(model => model.Task.AuthorId)
        @Html.HiddenFor(model => model.Task.TaskPriority)
        @Html.HiddenFor(model => model.Task.TaskStatus)
        @Html.HiddenFor(model => model.Task.User)
        @Html.HiddenFor(model => model.Task.Project)
        @Html.HiddenFor(model => model.Task.Author)

        <div class="form-group">
            @Html.LabelFor(model => model.Task.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Task.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Task.StatusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Task.StatusId, new SelectList(Model.TaskStatus, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Task.TaskStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Task.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Task.ProjectId, new SelectList(Model.Projects, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Task.Project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Task.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Task.UserId, new SelectList(Model.Users, "Id", "EmailAddress"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Task.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Task.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Task.ProjectId, new SelectList(Model.Projects, "Id", "Name"), new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Task.Project, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Task.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Task.DateAdded, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Task.DateAdded, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Task.DateClosed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task.DateClosed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Task.DateClosed, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Task.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task.Contents, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Task.Contents, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div>
        @Html.Partial("_BackToListButtonPartial")
        <input type="submit" value="Save" class="btn btn-sm btn-success" />
    </div>
}

