@model IEnumerable<FakeJiraDataLibrary.Models.Task>
@using FakeJira.Models
@{
    ViewBag.Title = "Index";
}

<h3>Manage Tasks</h3>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<br />
<table class="table table-condensed table-hover">
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var i in Model) {
<tr>
    <td>
       @Html.ActionLink(i.Title,
        "WorkOnTask",   // <-- ActionMethod
        "Task" , // <-- Controller Name.
                new { i.Id }, // <-- Route arguments.
                null
                )
        @*@Html.DisplayFor(modelItem => i.Title)*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => i.StatusId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => i.Project.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => i.User.FirstName)
        @Html.DisplayFor(modelItem => i.User.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => i.PriorityId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => i.DateAdded)
    </td>
    <td>
        @Html.DisplayFor(modelItem => i.DateClosed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => i.Author.FirstName)
        @Html.DisplayFor(modelItem => i.Author.LastName)
    </td>
    <td>
        @Html.Partial("_TableButtonPartial", new MiscButtonPartial { TaskId = i.Id })
    </td>
</tr>
}

</table>
