@model FakeJira.ViewModels.TaskViewModel
@using FakeJira.Models

@{
    ViewBag.Title = "WorkOnTask";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row" id="taskViewRow">
                    <div class="col-md-4 col-sm-4">
                        <h3>
                            Project: @Html.DisplayFor(model => model.Task.Project.Name)
                        </h3>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h3>
                            Task #@ViewBag.TaskId: @ViewBag.TaskName;
                        </h3>
                    </div>
                </div>
            </div>
            <br />
            <div class="panel-heading">
                tresc

            </div>




        </div>




       <div class="row" id="taskViewRow">
            <div class="col-md-4 col-sm-4">
                Assigned: @Html.DisplayFor(model => model.Task.User.FirstName) @Html.DisplayFor(model => model.Task.User.LastName)
            </div>
            <div class="col-md-4 col-sm-4">
                Priority: @Html.DisplayFor(model => model.Task.TaskPriority.Name)
            </div>
            <div class="col-md-4 col-sm-4">
                Status: @Html.DisplayFor(model => model.Task.TaskStatus.Name)
            </div>
        </div>
       <div class="row" id="taskViewRow">
            <div class="col-md-4 col-sm-4">
                Added: @Html.DisplayFor(model => model.Task.DateAdded)
            </div>
            <div class="col-md-4 col-sm-4">
                Author: @Html.DisplayFor(model => model.Task.Author.FirstName) @Html.DisplayFor(model => model.Task.Author.LastName)
            </div>


        </div>

       <div class="row" id="taskViewRow">
            <div class="col-md-4 col-sm-4">

                @if ((int)Session["DateClosed"] == 1)
                {
                    <div> Closed: @Html.DisplayFor(model => model.Task.DateClosed)</div>
                }
                else
                {
                    <div>Closed: pending</div>
                }
            </div>
        </div>

        <div class="row" id="taskViewRow">
            <div class="col-md-12 col-sm-12">
                @Html.DisplayFor(model => model.Task.Contents)
            </div>
            
        </div>

        <div class="row" id="taskViewRow">
                <div class="col-md-4 col-sm-2">
                    @Html.Partial("_BackToListButtonPartial")
                    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit", new {id = Model.Task.Id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span>Edit</span>
                    </a>
                </div>
                <div class="col-md-8 col-sm-10">

            </div>

        </div>
    </div>

}
