@model IEnumerable<FakeJiraDataLibrary.Models.User>
@using FakeJira.Models

@{
    ViewBag.Title = "Index";
}

<div class="btn-toolbar" style="justify-content: center; display: flex;">
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("CreateBusinessRole")">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add Business Role</span>
    </a>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("LoadBusinessRole")">
        <span class="glyphicon glyphicon-sunglasses"></span>
        <span>Display Business Roles</span>
    </a>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("CreateDepartment")">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add Department</span>
    </a>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("LoadDepartment")">
        <span class="glyphicon glyphicon-sunglasses"></span>
        <span>Display Departments</span>
    </a>
</div>

</br>
</br>

<h4>Users</h4>

<table class="table table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.BusinessRoleId)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => i.Id)
            </td>
            <td>
                @Html.DisplayFor(m => i.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(m => i.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => i.LastName)
            </td>
            <td>
                @Html.DisplayFor(m => i.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(m => i.BusinessRoleId)
            </td>
            <td>
                @Html.Partial("_TableButtonPartial", new MiscButtonPartial { UserId = i.Id })
            </td>
        </tr>
    }
</table>
